.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}

.navbar-nav>li {

  padding-left: 40px;
  padding-right: 40px;
}

.navbar-nav>li>ul.dropdown-menu {
  min-width: 120px;
  margin-left: 40px;
}
